.center {
    display: inline-block;
    text-align: center;
}

.planner-app {
  font-family: sans-serif;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

/** plan list **/
.plan-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.plan-lists {
    margin-top: 1rem;
}

/** plan item **/
.plan {
    cursor: move;
    text-align: left;
    font-family: monospace;
}
.plan-card {
    margin: 2px;
}
.plan-header-tag {
    font-size: 13px;
    padding: 5px;
    margin: -1px 6px 2px 2px;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid black;
}

/** top bar **/
#topbar-addplan-select-tag {
    margin: 0 6px;
}

/** plan **/
.plan-content-textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

/** exercise **/
.exercise-text {
    font-size: 18px;
    margin: 4px;
}
.exercise-button {
    margin: 3px;
}


.react-calendar-heatmap .color-scale-1 { fill: #bfd6f6; }
.react-calendar-heatmap .color-scale-2 { fill: #8dbdff; }
.react-calendar-heatmap .color-scale-3 { fill: #64a1f4; }
.react-calendar-heatmap .color-scale-4 { fill: #4a91f2; }
.react-calendar-heatmap .color-scale-5 { fill: #3b7dd8; }
